[push]
    default = current
[color]
    ui = auto
[diff]
    tool = vimdiff
[core]
    editor = vim
[alias]
    aa = add --all
    ap = add --patch
    ca = commit -a
    cam = commit --amend
    caa = commit -a --amend
    co = checkout
    ru = remote update
    st = status
    dt = difftool
    df = diff
[include]
    path = .gitconfig.local
