*faceName:    Hack:size=9:antialias=true
xterm*VT100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
URxvt.font:        xft:Hack:size=9
*termName:    xterm-256color
Xft.dpi:           96
Xft.antialias:     true
*xftAntialias:     true
Xft.rgba:          rgb
Xft.hinting:       true
Xft.hintstyle:     hintslight
*metaSendsEscape:  true
!*scaleHeight:     1.00
!*internalBorder:  0
URxvt.scrollBar:   false
*boldMode:         false
*allowBoldFonts:   false
*boldColor:        false
*intensityStyles:  false
*visualBell:       true
*saveLines:        1000
*inputMethod:      xim
*utf8Title:   true

*cursorColor:  #249524
*background:   #202020
*foreground:   #cccccc
! Black, DarkGrey
*color0:  #202020
*color8:  #303030
! DarkRed, Red
*color1:  #ff3c3c
*color9:  #e53c3c
! DarkGreen, Green
*color2:  #249524
*color10: #50ff50
! DarkYellow, Yellow
*color3:  #ee8800
*color11: #ffff30
! DarkBlue, Blue
*color4:  #0045ff
*color12: #87cefa
! DarkMagenta, Magenta
*color5:  #ba55d3
*color13: #ff8bff
! DarkCyan, Cyan
*color6:  #0ecbcb
*color14: #55ffff
! Grey, White
*color7:  #909090
*color15: #cccccc

